streamlit==1.22.0
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
scikit-learn==1.0.2
threadpoolctl==3.1.0
Pillow==9.5.0
prompt_toolkit==3.0.48
protobuf==3.19.6
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86